# Ignore local build artifacts
./target/

Dockerfile*
.dockerignore

# Ignore runtime configuration files
.env
./keys
./integration-tests/.env

# Ignore the compose file themselves
compose.base.yaml
compose.deploy.yaml
./integration-tests/compose.yaml

# Ignore integration tests completely
./integration-tests
